/* Header */

.ct-header {
    width: 100%;
}
.ct-header [data-device="desktop"] {
    max-width: 1200px;
    margin: auto;
}
#header [data-column-set="2"]>div {
    grid-template-columns: 25% 75% !important;
    width: 100%;
}
#header [data-column="start"] [data-items="primary"] {
    display: flex;
    justify-content: center;
}
#header [data-items]>* {
    margin: 0 !important;
}
#header [data-row*=boxed]>div {
    padding: 0 !important;
}
@media screen and (max-width: 1000px) {
    #header [data-column-set="2"]>div {
        width: auto;
        margin: 0 5%;
        grid-template-columns: none;
    }
    #header [data-column="start"] [data-items="primary"] {
        justify-content: start;
    }
}


/* Menu header */
li .hymperMegaTest {
    order: 2;
}
li#menu-item-20 {
    order: 3;
}

#menu-item-21 a {
    font-size: 13px;
    font-weight: 700;
}
.adminFont {
    font-size: 16px !important;
    font-weight: 400 !important;
}
#menu-item-20 a {
    font-size: 16px;
    font-weight: 700;
}

/* Menu mobile */
ul#menu-navigation-1 {
    display: flex;
    flex-direction: column;
}
li.commander.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-20 {
    order: 3;
}
.mobile-menu .adminFont {
    font-size: 20px !important;
    font-weight: 700 !important;
}



/* Menu, Boutons + item commander */

.ct-menu-link {
    padding: 0 32px !important;    
    text-align: center;
}

.commander {
    background-color: #DC9F96;
    width: 100%;
}
.commander a {
    color: white !important;
}
.commander a:hover {
    background-color: #C02E44;
}
.commander a:focus {
    background-color: #C02E44;
}
.commander a:active {
    background-color: #C02E44;
}

/* Footer */

[data-footer*="type-1"] .ct-footer [data-row*="middle"] > div {
    --container-spacing: none;
}

.ct-footer {
    height : 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-menu-inline {
    display: flex;
    justify-content: center;
}


/* Alignement of main and sections */

/* Main */
.entry-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[data-vertical-spacing*=bottom] {
    padding-bottom: 0 !important;
}
.wp-block-group {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
}

article>.entry-content>*:where(:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright)) {
    max-width: 100% !important;
}

/* Background color of the page Commander */
article#post-18 {
    background-color: #3B8E46;
}


/* Section styles */

.contenuSection1 {
    border-radius: 0% 0% 50% 50% / 25% 25% 7% 7%;
    border-bottom: solid 5px #d5cdc7 !important;

}

.contenuSection1 img{
    padding: 0px 175px 0px 190px;
    background-image: url("../images/Branche\ de\ feuilles.png"), url("../images/Feuille\ inverse.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: 50%, 52%;
 }

.contenuSection3 {
    border-radius: 0% 0% 50% 50% / 25% 25% 3% 3%;
    border-bottom: solid 5px #d5cdc7;
}

.contenuSection5 {
    border-radius: 0% 0% 50% 50% / 25% 25% 7% 7%;
    border-bottom: solid 5px #d5cdc7;
    padding-top: 120px !important;
    background-image: url(../images/feuille\ ronde.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: top 15% left 10%;
}

.contenuSection6 {
    background-image: url(../images/Branche\ de\ feuilles.png);
    background-repeat: no-repeat;
    background-size: 191px 210px;
    background-position: bottom 0% right 2%;
}

/* Insert Planty cans in bgi */
.insertBackground {
    padding-top: 56px !important;
    height: 200px;
    background-image: url(../images/Cannettes\ footer.png);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: contain;
}


/* Formulaire */

/* Of the page Nous Contacter */
div#wpcf7-f85-p16-o1 {
    max-width: 520px;
}
form.wpcf7-form.init .nousContacter{
    padding: 0 70px;
    background-image: url(../images/feuille\ de\ houx.png);
    background-repeat: no-repeat;
    background-size: 148px 136px;
    background-position: left 0px bottom 69px;
}
input[type=text] {
    background-color: #fff !important;
    border: none !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5% 5% 5% 5% / 15% 15% 15% 15% !important;
    height: 71px !important;
    font-size: 20px;
    margin-bottom: 16px;
}
input[type=submit] {
    width: 198px;
    height: 55px;
    background-color: #E0B9B4;
    color: #fff;
    font-size: 15px;
    border-radius: 5% 5% 5% 5% / 15% 15% 15% 15% !important;
    margin: 32px 25%;
    cursor: pointer;
}

textarea {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none !important;
    background-color: #fff !important;
    border-radius: 8% !important;
    height: 237px !important;
    font-size: 20px;
}

/* Of the page Commander */

div#wpcf7-f200-p18-o1 {
    max-width: 912px !important;    
    padding-top: 48px;
    padding-bottom: 64px;
    border-top: 1px solid #ffffff;
    color: #fff;
}
.formulaireCommander {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.formulaireCommander h3 {
    color: white;
}

.formulaireFruits {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
    border-bottom: solid 1px white;
}
.formulaireFruits .fruitFormContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}
.formulaireFruits .colonneFruits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10%;
}
.formulaireFruits .colonneFruits .fruitNombre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Images and input number dimensions */
.formulaireFruits .colonneFruits .fruitNombre .fraise {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    width: 192px;
    background-image: url(../images/Fraises.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 20px;
    font-weight: 800;
}
.formulaireFruits .colonneFruits .fruitNombre .pamplemousse {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    width: 192px;
    background-image: url(../images/Pamplemousse.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 20px;
    font-weight: 800;
}
.formulaireFruits .colonneFruits .fruitNombre .framboise {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    width: 192px;
    background-image: url(../images/Framboises.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 20px;
    font-weight: 800;
}
.formulaireFruits .colonneFruits .fruitNombre .citron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    width: 192px;
    background-image: url(../images/Citrons.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 20px;
    font-weight: 800;
}

#quantiteFraise {
    width: 64px;
    height: 56px;
    color: black;
    border: none;
    background-color: #fff;
    margin: auto;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif !important;
    text-align: center;
}
#quantitePamplemousse {
    width: 64px;
    height: 56px;
    color: black;
    border: none;
    background-color: #fff;
    margin: auto;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif !important;
    text-align: center;
}
#quantiteFramboise {
    width: 64px;
    height: 56px;
    color: black;
    border: none;
    background-color: #fff;
    margin: auto;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif !important;
    text-align: center;
}
#quantiteCitron {
    width: 64px;
    height: 56px;
    color: black;
    border: none;
    background-color: #fff;
    margin: auto;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif !important;
    text-align: center;
}

.formulaireChamps {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}
.formulaireChamps input {
    max-width: 383px;
}

.formulaireChamps .champsInformations {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 48px;
}

.formulaireChamps .champsLivraison {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    border-left: solid 1px white;
}







/* Responsive part */

@media screen and (max-width: 1250px) {
    .contenuSection5 {
        background-position: top 15% left 5%;
    }
}
@media screen and (max-width: 1100px) {
    .contenuSection5 {
        background-image: none;
    }
    .contenuSection6 {
        background-image: none;
    }
}
@media screen and (max-width: 1024px) {
    /* Section Ce qu'ils en pensent, column */
    .stk-ac5d091-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 500px !important;
    }
}
@media screen and (max-width: 1000px) {
    .stk-row.stk-inner-blocks.stk-block-content.stk-content-align.stk-7ce1cf6-column{
        flex-direction: column !important;
        max-width: 440px;
    }

    /* Formulaire Commander */
    .formulaireFruits .colonneFruits {
        gap: 48px;
        justify-content: center;
    }

    .formulaireChamps {
        flex-direction: column;
        align-items: center;
    }
    .formulaireChamps h3 {
        text-align: center;
        padding-bottom: 16px;
    }
    .formulaireChamps .champsInformations {
        padding-right: 0px;
    }
    .formulaireChamps .champsLivraison {
        padding-top: 24px;
        padding-left: 0px;
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .avisResponsive .stk-block-columns>.stk-block-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenuSection4 img {
        max-width: 150px;
    }
}
@media screen and (max-width: 650px) {
    .ContainerEnvoyerResponsive {
        display: flex;
    }
}
@media screen and (max-width: 580px) {
    form.wpcf7-form.init .nousContacter {
        background-image: none;
    }
}
@media screen and (max-width: 580px) {
    .formulaireFruits .fruitFormContainer {
        flex-direction: column !important;
    }
    .formulaireFruits .colonneFruits {
        padding-bottom: 48px;
    }
}
